<div>
    <div class="row image_menu">
        <h3 class="category_title">Categories</h3>
        <div class="col-md-8 col-lg-12">
        <div class="menu1">
           <ul class="col1_menu" v-for="menu in col1" @click="getCategoryType(menu.value)">
                        <li>
                        <img :src="menu.url" :alt="menu.name" width="60%" height="80px">
                        <div class="menu_title">{{menu.name}}</div>
                        </li>
            </ul>
        </div>
        <div class="menu2">
            <ul class="col2_menu" v-for="menu in col2" @click="getCategoryType(menu.value)">
                    <li>
                        <img :src="menu.url" :alt="menu.name" width="85%" height="80px">
                        <div class="menu_title">{{menu.name}}</div>
                    </li>
            </ul>
        </div>
            
        </div>
    </div>
</div>