<div>
    <div class="row rightSideForm" v-if="!loggedIn">
            <h2 class="text-center">Registration {{loggedIn}}</h2>   
    <!--Form with header-->
        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Full Name</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" v-model="user.name" name="name" id="name"  placeholder="Enter your Name"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Mail Address</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" v-model="user.email" name="name" id="name"  placeholder="Enter your Email"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Phone Number</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" v-model="user.mobile" name="name" id="name"  placeholder="Enter your Ph. Number"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Location</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" v-model="user.location" name="name" id="name"  placeholder="Enter your Location"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Pincode</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" v-model="user.pincode" name="name" id="name"  placeholder="Enter your Pincode"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Password</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" v-model="user.password" name="name" id="name"  placeholder="Enter your Password"/>
                </div>
            </div>
        </div>
        <div class="form-group float-right">
            <div class="col-sm-10">
                <div class="input-group">
                    <button class="btn btn-success" @click="submitForm(user)"> Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div v-if="loggedIn" class="row successDetails">
        <h3>Successfully Registered </h3>
        <img src="../../../assets/gif/home.gif" alt="">
        <label for="">Name : {{client.name}}</label><br/>
        <label for="">Email : {{client.email}}</label><br/>
        <label for="">Contact Number : {{client.mobile}}</label>
        <!-- <label for="">Name : ABC</label>
        <br/>
        <label for="">Email : abc@gmail.com</label>
        <br/>
        <label for="">Contact Number : 800821525</label> -->
        <br/>

        <div class="logout">
            <i style="font-size:24px" class="fa fa-power-off"></i>
        </div>
        
    </div>
</div>